@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&family=MuseoModerno:wght@500&family=Orbitron&display=swap');
#navbar {
height:80px;
  overflow: hidden;
width:105%;
background-color: rgba(0,0,0,0.3);
-webkit-backdrop-filter: blur(10px);	  
  backdrop-filter: blur(1vh);
    line-height: 80px;  
}

/* Navbar links */

#navbar a {
font-size: 200%;
  float: left;

  display: block;

  color: #f2f2f2;

  text-align: center;
font-family: 'Orbitron', sans-serif;

  text-decoration: none;

}

/* Page content */

.content {


}

/* The sticky class is added to the navbar with JS when it reaches its scroll position */

.sticky {
line-height: 80px;
  position: fixed;
-webkit-backdrop-filter: blur(10px);	  

  backdrop-filter: blur(1vh);
 top: 0;
height:80px;
  overflow: hidden;
width:100%;
}

/* Add some top padding to the page content to prevent sudden quick movement (as the navigation bar gets a new position at the top of the page (position:fixed and top:0) */

.sticky + .content {

  padding-top: 60px;

}
.header {
  overflow: scroll;
  width:100%;
  height:75vh;
   background-image:linear-gradient(45deg,#ff00ff,#ff0000,#ffff00,#00ff00,#00ffff,#0000ff);

  animation-name: example;
font-size: 400%;
  animation-duration: 1s;

 animation-iteration-count: infinite;
  }
body{
   background:
linear-gradient(120deg, rgba(255,0,0,0.8),rgba(255,0,0,0)),
linear-gradient(360deg, rgba(0,0,255,1),  rgba(0,0,255,0)),
linear-gradient(240deg, rgba(0,255,0,1), rgba(0,255,0,1));
 color:linear-gradient(45deg,#0000ff,#ff00ff,#ff0000,#ffff00,#00ff00,#00ffff);
background-size: 100% 100%;
 animation-name: examples;
 font-family: 'Orbitron', sans-serif; 
}
h1{
  -webkit-backdrop-filter: blur(10px);	  
  backdrop-filter: blur(1vh);
 font-family: 'MuseoModerno', cursive; 
}
h2{
  -webkit-backdrop-filter: blur(10px);	  
  backdrop-filter: blur(1vh);
 font-family: 'MuseoModerno', cursive; 
}
h3{
  -webkit-backdrop-filter: blur(10px);	  
  backdrop-filter: blur(1vh);
 font-family: 'MuseoModerno', cursive; 
}
p{
}
@keyframes example {

  0%{

    background-image:linear-gradient(45deg,#ff00ff,#ff0000,#ffff00,#00ff00,#00ffff,#0000ff);

  }

  16.66666666666667%{

    background-image:linear-gradient(45deg,#0000ff,#ff00ff,#ff0000,#ffff00,#00ff00,#00ffff);

  }

  33.33333333333334%{

    background-image:linear-gradient(45deg,#00ffff,#0000ff,#ff00ff,#ff0000,#ffff00,#00ff00);

  }

  50%{

    background-image:linear-gradient(45deg,#00ff00,#00ffff,#0000ff,#ff00ff,#ff0000,#ffff00);

  }

  66.66666666666667%{

background-image:linear-gradient(45deg,#ffff00,#00ff00,#00ffff,#0000ff,#ff00ff,#ff0000);

  }

  83.33333333333334%{

    background-image:linear-gradient(45deg,#ff0000,#ffff00,#00ff00,#00ffff,#0000ff,#ff00ff);

  }

  100%{

    background-image:linear-gradient(45deg,#ff00ff,#ff0000,#ffff00,#00ff00,#00ffff,#0000ff);

  }

}
.header img {
 display: block;
  margin-left: auto;
  margin-right: auto;
  width: 40%;
   border-radius: 50%;
}
.header-image {
   filter: blur(8px);

  -webkit-filter: blur(8px);
  }
@keyframes examples {

  0%{

   color:linear-gradient(45deg,#ff00ff,#ff0000,#ffff00,#00ff00,#00ffff,#0000ff);

  }

  16.66666666666667%{

   color:linear-gradient(45deg,#0000ff,#ff00ff,#ff0000,#ffff00,#00ff00,#00ffff);

  }

  33.33333333333334%{

    color:linear-gradient(45deg,#00ffff,#0000ff,#ff00ff,#ff0000,#ffff00,#00ff00);

  }

  50%{

    color:linear-gradient(45deg,#00ff00,#00ffff,#0000ff,#ff00ff,#ff0000,#ffff00);

  }

  66.66666666666667%{

color:linear-gradient(45deg,#ffff00,#00ff00,#00ffff,#0000ff,#ff00ff,#ff0000);

  }

  83.33333333333334%{

  color:linear-gradient(45deg,#ff0000,#ffff00,#00ff00,#00ffff,#0000ff,#ff00ff);

  }

  100%{

  color:linear-gradient(45deg,#ff00ff,#ff0000,#ffff00,#00ff00,#00ffff,#0000ff);

  }
}
img {
  filter: contrast(180%);
  }
